<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArcadeDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>


    <userSettings>
        <ArcadeDesktop.Properties.Settings>
            <setting name="nes_emu" serializeAs="String">
                <value>c:\nes.exe</value>
            </setting>
            <setting name="nes_rom" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="nes_img" serializeAs="String">
                <value>c:\</value>
            </setting>
        </ArcadeDesktop.Properties.Settings>
    </userSettings>
</configuration>